@charset "utf-8";
/*
 * project name
*/

// ========================================
// core files
// ========================================
@import 'core/config';
@import 'core/mixins';
@import 'core/normalize';

// ========================================
// modules
// ========================================
@import 'module/*.*';

// ========================================
// layouts
// ========================================
@import 'layout/*.*';
